{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Jurado FMS{% endblock title %}</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- Static Files -->
  <link rel="stylesheet" href="{% static 'vote/CSS/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'vote/CSS/polls.css' %}">
  <link rel="stylesheet" href="{% static 'vote/CSS/table.css' %}">

  <script src="{% static 'vote/JS/navbar.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/popstate.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/create_polls.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/util.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/add_listeners.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/change_mode.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/end.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/classes.js' %}" type="module" defer></script>
  <script src="{% static 'vote/JS/replica.js' %}" type="module"></script>
</head>
<body>
  {% csrf_token %}
  <!-- Error modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" id="modal-body">
          
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid container-xl">
      <a href="{% url 'vote:index' %}" class="navbar-brand">Jurado FMS</a>
      
      <!-- Toogler btn -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar content -->
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="easy">Easy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="hard">Hard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="tematicas_1">Temáticas 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="tematicas_2">Temáticas 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="random_score">Random</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="min1">Minuto 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="min2">Minuto 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="deluxe">Deluxe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="end">Resultados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link listen" href="#" data-mode="replica">Réplica</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <main class="container-xl">
    <!-- Choose comps -->
    <div id="choose-comps" class="mb-5 mt-5">
      <form class="needs-validation" id="comps-form" novalidate>
        <div class="mb-5">
          <h1 class="text-center fw-normal">Escoge a los Gallos para empezar</h1>
        </div>
      
        <div class="row row-cols-1 row-cols-md-2 g-3 justify-content-center">
          <!-- First competitor -->
          <div class="col col-md-3">
            <input class="form-control form-control-lg" placeholder="Primer Gallo" type="text" name="comp-1-input" id="comp-1-input" maxlength="20" required>
            <div class="invalid-feedback">Llena este campo para continuar</div>
          </div>
      
          <!-- Second competitor -->
          <div class="col col-md-3">
            <input class="form-control form-control-lg" placeholder="Segundo Gallo" type="text" name="comp-2-input" id="comp-2-input" maxlength="20" required>
            <div class="invalid-feedback">Llena este campo para continuar</div>
          </div>
        </div>
      
        <br><br>
      
        <div class="row">
          <div class="col d-flex justify-content-center">
            <input type="submit" role="button" class="btn btn-primary" value="Empieza!" id="submit-comps">
          </div>
        </div>
      </form>
    </div>

    <!-- Poll -->
    <div id="poll-container" class="d-none">
      <div class="mb-4 mt-3">
        <h1 class="fw-normal" id="mode" data-current_mode="">Easy Mode</h1>
      </div>
      
      <form id="poll">
        <div class="poll">
          <!-- Competitor 1 -->
          <div class="row g-4 inputs-container">
            <div class="col-12 col-md-3 col-lg-2 comp-container" id="comp-1-container">
              <h2 class="fw-normal mb-0 text-center text-md-start h3" id="comp-1"></h2>
            </div>
          </div>
          
          <hr>
  
          <!-- Competitor 2 -->
          <div class="row g-4 inputs-container">
            <div class="col-12 col-md-3 col-lg-2 comp-container" id="comp-2-container">
              <h2 class="fw-normal mb-0 text-center text-md-start h3" id="comp-2"></h2>
            </div>
          </div>
        </div>

        <!-- Btns -->
        <div class="row mt-5">
          <div class="col d-flex justify-content-center">
            <div class="btn-group" role="group">
              <input type="button" role="button" class="btn btn-outline-primary listen" value="Anterior" id="previous" data-op="-1">
              <input type="button" role="button" class="btn btn-outline-primary listen" value="Siguiente" id="next" data-op="+1">
            </div>
          </div>
        </div>
      </form>

      <div id="alert-container" class="mt-5">

      </div>
    </div>

    <!-- Results -->
    <div id="end-container" class="d-none">
      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-bordered mt-5">
          <thead>
            <tr>
              <th class="text-center align-middle" scope="col">Gallo</th>
              <th class="text-center align-middle" scope="col">Easy</th>
              <th class="text-center align-middle" scope="col">Hard</th>
              <th class="text-center align-middle" scope="col">Temáticas 1</th>
              <th class="text-center align-middle" scope="col">Temáticas 2</th>
              <th class="text-center align-middle" scope="col">Random</th>
              <th class="text-center align-middle" scope="col">Minuto 1</th>
              <th class="text-center align-middle" scope="col">Minuto 2</th>
              <th class="text-center align-middle" scope="col">Deluxe</th>
              <th class="text-center align-middle" scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center comp-1-table" scope="row"></th>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
              <td class="text-center comp-1-table"></td>
            </tr>
            <tr>
              <th class="text-center comp-2-table" scope="row"></th>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
              <td class="text-center comp-2-table"></td>
            </tr>
            <tr>
              <th id="winner" class="text-center" scope="row" colspan="10"></th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Continue btn -->
      <div class="row mt-5 mb-5">
        <div class="col d-flex justify-content-center">
          <div class="btn-group" role="group">
            <button role="button" class="btn btn-outline-primary" id="prev-end-btn">Deluxe</button>
            <button role="button" class="btn btn-outline-primary" id="end-btn" data-isEnd="true">Terminar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Replica results -->
    <div id="rep-res-container" class="d-none">
      <!-- Table -->
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th class="text-center comp-1-rep" scope="col"></th>
            <th class="text-center comp-2-rep" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center comp-1-rep"></td>
            <td class="text-center comp-2-rep"></td>
          </tr>
          <tr>
            <th id="rep-winner" class="text-center" scope="row" colspan="2"></th>
          </tr>
        </tbody>
      </table>

      <!-- Btns -->
      <div class="row mt-5 mb-5">
        <div class="col d-flex justify-content-center">
          <div class="btn-group" role="group">
            <button role="button" class="btn btn-outline-primary" id="prev-rep-btn">Volver a réplica</button>
            <button role="button" class="btn btn-outline-primary" id="rep-btn">Terminar</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>