@import 'media_queries';

#comp-1,
#comp-2 {
  text-align: center;
  font-size: calc(1.3rem + 0.6vw);
  margin-bottom: 0;
  font-weight: normal;

  @include md() {
    text-align: start;
  }
}

.comp-container {
  grid-column: span 3 / auto;

  @include md() {
    grid-column: span 2 / auto;
  }
}

@mixin change-grid($col) {
  grid-row: auto;

  @if $col == 2 {
    grid-column: span 3 / auto;
  } @else {
    grid-column: $col;
  }

  @include md() {
    grid-row: auto;
    grid-column: auto;
  }
}

@mixin align($side, $media: true) {
  @if $side == right {
    margin: 0 auto auto 0 !important;
  } @else if $side == left {
    margin: 0 0 auto auto !important;
  }

  @if $media {
    @include md() {
      margin: 0 auto auto !important;
    }
  } @else {
    @media only screen and (max-width: 767px) {
      margin: 0 auto auto !important;
    }
  }
}

$sides: right, left;

@each $side in $sides {
  .input-#{$side} {
    @include align($side);

    @if $side == right {
      @include change-grid(3);
    }
  }

  .input-extra-#{$side} {
    @include align($side, false);
  }
}

.input-middle {
  @include change-grid(2);
}

.grid {
  display: grid;
  grid-gap: 1.5rem;

  grid-column-end: span 2 / auto;

  grid-template-columns: repeat(3, minmax(1.5rem, 1fr));

  @include md() {
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }
}

.input {
  margin: 0 auto auto;

  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 0.5em;
}

input[type='number'] {
  width: 35px;
  height: 35px;

  padding: 0;
  text-align: center !important;

  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.choice-input {
  width: 7rem;
  height: 5rem;

  font-size: larger;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid gainsboro;
  border-radius: 7px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    border-color: black;
  }
}

.poll {
  padding: 17px;
  border: 3px solid gainsboro;
  border-radius: 10px;
}
