@import 'media_queries';

#rep-res-container {
  width: 100%;

  @include sm() {
    width: 70%;
  }

  @include lg() {
    width: 50%;
  }
  margin: auto;
}

#rep-res-container > table > thead > tr > th,
#rep-res-container > table > tbody > tr > td {
  width: 50%;
}
