/* Comp text */
#comp-1,
#comp-2 {
  text-align: center;
  font-size: calc(1.3rem + 0.6vw);
  margin-bottom: 0;
  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  #comp-1,
  #comp-2 {
    text-align: start;
  }
}

/* Comp text container */
.comp-container {
  /* If small, make it a complete row */
  grid-column: span 3 / auto;
}

@media only screen and (min-width: 768px) {
  .comp-container {
    grid-column: span 2 / auto;
  }
}

/* To change grid position on .input-side */
/* To change alignment of an input */
/* The input and input-extra classes */
.input-right {
  margin: 0 auto auto 0 !important;
  grid-row: auto;
  -ms-grid-column: 3;
  grid-column: 3;
}

@media only screen and (min-width: 768px) {
  .input-right {
    margin: 0 auto auto !important;
  }
}

@media only screen and (min-width: 768px) {
  .input-right {
    grid-row: auto;
    grid-column: auto;
  }
}

.input-extra-right {
  margin: 0 auto auto 0 !important;
}

@media only screen and (max-width: 767px) {
  .input-extra-right {
    margin: 0 auto auto !important;
  }
}

.input-left {
  margin: 0 0 auto auto !important;
}

@media only screen and (min-width: 768px) {
  .input-left {
    margin: 0 auto auto !important;
  }
}

.input-extra-left {
  margin: 0 0 auto auto !important;
}

@media only screen and (max-width: 767px) {
  .input-extra-left {
    margin: 0 auto auto !important;
  }
}

.input-middle {
  grid-row: auto;
  grid-column: span 3 / auto;
}

@media only screen and (min-width: 768px) {
  .input-middle {
    grid-row: auto;
    grid-column: auto;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-column-span: 2 / auto;
      grid-column-end: span 2 / auto;
  /* On small screens, the grid is of 3 cols */
  -ms-grid-columns: (minmax(1.5rem, 1fr))[3];
      grid-template-columns: repeat(3, minmax(1.5rem, 1fr));
}

@media only screen and (min-width: 768px) {
  .grid {
    -ms-grid-columns: (minmax(1rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }
}

.input {
  margin: 0 auto auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-row-gap: 0.5em;
}

/* Customize the little boxes */
input[type='number'] {
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center !important;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* The second replica choices */
.choice-input {
  width: 7rem;
  height: 5rem;
  font-size: larger;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid gainsboro;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.choice-input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.choice-input:focus {
  border-color: black;
}

/* Main poll */
.poll {
  padding: 17px;
  border: 3px solid gainsboro;
  border-radius: 10px;
}
/*# sourceMappingURL=polls.css.map */